<p>Sign In</p>
<%= form_for :user, url: user_signin_users_url do |f| %>
  
  <p>
    <%= f.label 'username or email:' %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label 'password:' %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit 'Sign In' %>&nbsp;&nbsp;&nbsp;
    <%= f.submit 'Clear Form', :type => 'reset' %>
  </p>
<% end %>