<h1><%= @book.book_name %></h1>

<p>
   <strong>Book Name: </strong> <%= @book.book_name %><br />

   <strong>Author: </strong> <%= @book.author %><br />

   <strong>Publisher: </strong> <%= @book.publisher %><br />

   <strong>Bill Number: </strong> <%= @book.bill_number %><br />

   <strong>Date Of Publishing: </strong> <%= @book.date_of_publishing %><br />

   <strong>Edition: </strong> <%= @book.edition %><br />

   <strong>Price: </strong> $<%= @book.price %><br />

   <strong>Created Date:</strong> <%= @book.created_at %><br />
</p>
<hr />